[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiDiscreteRNG"]
	path = MultiDiscreteRNG
	url = https://github.com/ckchengtommy/multidiscreterng
